{namespace k=Codeminds\Kickstarter\ViewHelpers}<![CDATA[<f:layout name="Default" />

<f:section name="Title">]]>{modelName -> k:inflect.pluralize() -> k:inflect.humanizeCamelCase(lowercase: true)}<![CDATA[</f:section>

<f:section name="Content">]]>
    <![CDATA[<f:if condition="{]]>{modelName -> k:inflect.pluralize()}<![CDATA[}">
        <f:then>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">{modelName}</th>
                    </tr>
                </thead>
                <tbody>
                    <f:for each="{]]>{modelName -> k:inflect.pluralize()}<![CDATA[}" as="]]>{modelName}<![CDATA[">
                        <tr>
                            <td>{]]>{modelName}<![CDATA[.name}</td>
                            <td><f:link.action action="edit" arguments="{]]>{modelName}: {modelName}<![CDATA[}" class="btn btn-primary" aria-label="Bearbeiten"><i class="fas fa-pencil"></i></f:link.action></td>
                        </tr>
                    </f:for>
                </tbody>
            </table>
        </f:then>
        <f:else>
            ]]><p>Keine {modelName -> k:inflect.pluralize() -> k:inflect.humanizeCamelCase(lowercase: true)}<![CDATA[ gefunden.</p>
        </f:else>
    </f:if>
    <p><f:link.action action="new" class="btn btn-primary"><span class="fas fa-plus" aria-hidden="true"></span> Neu</f:link.action></p>]]>
<![CDATA[</f:section>]]>
