{namespace k=Codeminds\Kickstarter\ViewHelpers}<![CDATA[<f:layout name="Default" />

<f:section name="Title">]]>{modelName -> k:inflect.humanizeCamelCase(lowercase: true)} erstellen<![CDATA[</f:section>

<f:section name="Content">
    <f:form action="create"]]> objectName="new{modelName -> k:format.ucfirst()}">
        <f:for each="{properties}" as="property" key="propertyName">
            <div class="form-group">
                <label for="{propertyName}">{propertyName -> k:inflect.humanizeCamelCase()}</label>
                <f:if condition="{0: property.type} == {0: 'DateTime'}"><f:then><![CDATA[<f:form.textfield]]> type="datetime" value="<![CDATA[{f:format.date(date: 'now', format: 'Y-m-d\TH:i:sP')}]]>" property="{propertyName}" id="{propertyName}" class="form-control" /></f:then><f:else><![CDATA[<f:form.textfield]]> property="{propertyName}" id="{propertyName}" class="form-control" /></f:else></f:if>
            </div>
        </f:for>
        <![CDATA[<button type="submit" class="btn btn-primary">Jetzt erstellen</button>
    </f:form>]]>
<![CDATA[</f:section>]]>
