{namespace k=Codeminds\Kickstarter\ViewHelpers}<![CDATA[<f:layout name="Default" />

<f:section name="Title">]]>{modelName -> k:inflect.humanizeCamelCase(lowercase: true)}"<![CDATA[{]]>{modelName}<![CDATA[.name}]]>"<![CDATA[</f:section>]]>

<![CDATA[<f:section name="Content">]]>
    <table class="table"><f:for each="{properties}" as="property" key="propertyName">
        <tr>
            <th scope="row">{propertyName -> k:inflect.humanizeCamelCase()}</th>
            <td><f:if condition="{0: property.type} == {0: 'DateTime'}"><f:then><![CDATA[{]]>{modelName}.{propertyName}<![CDATA[ -> f:format.date(format: 'd.m.Y H:i')}]]></f:then><f:else><![CDATA[{]]>{modelName}.{propertyName}<![CDATA[}]]></f:else></f:if></td>
        </tr>
    </f:for></table>
    <![CDATA[<f:link.action action="index">Zurück</f:link.action>]]>
<![CDATA[</f:section>]]>
